

.banner {
    background-image: url(../../assets/img/descriptiondesing.jpg);
}

h1 {
    text-align: center;
    font-family: "Lato";
    padding-bottom: 0px;
    margin-bottom: 30px;
    margin-top: 80px;
    font-weight: bold;
    text-shadow: #fff 0.1em 0.1em 0.4em;
}

.sectionWhite {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.pJustify {
    display: flex;
    justify-content: center;
}

.sectionColorYellow {
    background-color: #fed136;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
}

.pJustify {
    display: flex;
    justify-content: center;
}
